/* ====== ESTILO GENERAL ====== */
body {
  margin: 0;
  background-color: #f0f8ff;
  color: #333;
  font-family: 'Sansation', sans-serif;
}

main {
  padding: 2rem;
  padding-top: 80px; /* compensa el navbar fijo */
}

section.container {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.scroll-offset {
  scroll-margin-top: 80px;
}

/* ====== NAVBAR ====== */
.navbar-dark .nav-link {
  color: #ccc;
  margin-right: 1rem;
  transition: all 0.3s ease;
}

.navbar-dark .nav-link:hover {
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.navbar-dark .nav-link.active {
  color: #fff !important;
  font-weight: bold;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.navbar-brand {
  font-size: 1.5rem;
  color: #f8f9fa !important;
}

.navbar-brand i {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.1); opacity: 0.8; }
}

/* ====== IMÁGENES ====== */
.poster-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.gif-final {
  max-height: 290px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

/* ====== TARJETAS (Noticias) ====== */
.card-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.card-text {
  font-size: 0.95rem;
}

/* ====== ICONOS ====== */
.icono-gris {
  color: #6c757d;
  transition: color 0.3s ease;
}

.icono-gris:hover {
  color: #adb5bd;
}

/* ====== TEXTO ====== */
.text-justify {
  text-align: justify;
}

input[type="range"] {
  width: 150px;
}

#reproductorFlotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 160px;
  z-index: 999;
  border: 1px solid #ddd;
}

#reproductorFlotante input[type="range"] {
  width: 100%;
}



